:root.dark-mode, :host {
    --md-sys-color-background: #18130b;
    --md-sys-color-on-background: #ede1d3;
    --md-sys-color-surface: #18130b;
    --md-sys-color-surface-dim: #18130b;
    --md-sys-color-surface-bright: #3f382f;
    --md-sys-color-surface-container-lowest: #120d06;
    --md-sys-color-surface-container-low: #201b12;
    --md-sys-color-surface-container: #251f16;
    --md-sys-color-surface-container-high: #2f2920;
    --md-sys-color-surface-container-highest: #3b342a;
    --md-sys-color-on-surface: #ede1d3;
    --md-sys-color-surface-variant: #504534;
    --md-sys-color-on-surface-variant: #d5c4ae;
    --md-sys-color-inverse-surface: #ede1d3;
    --md-sys-color-inverse-on-surface: #362f26;
    --md-sys-color-outline: #9d8f7b;
    --md-sys-color-outline-variant: #504534;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #ffba3e;
    --md-sys-color-primary: #ffd28d;
    --md-sys-color-on-primary: #432c00;
    --md-sys-color-primary-container: #e5a427;
    --md-sys-color-on-primary-container: #342100;
    --md-sys-color-inverse-primary: #7f5700;
    --md-sys-color-secondary: #e6c188;
    --md-sys-color-on-secondary: #432c02;
    --md-sys-color-secondary-container: #543b0f;
    --md-sys-color-on-secondary-container: #f5cf95;
    --md-sys-color-tertiary: #cee36a;
    --md-sys-color-on-tertiary: #2c3400;
    --md-sys-color-tertiary-container: #a5b945;
    --md-sys-color-on-tertiary-container: #212800;
    --md-sys-color-error: #ffb4ab;
    --md-sys-color-on-error: #690005;
    --md-sys-color-error-container: #93000a;
    --md-sys-color-on-error-container: #ffdad6;
}

:root.light-mode, :root {
    --md-sys-color-background: #fff8f3;
    --md-sys-color-on-background: #201b12;
    --md-sys-color-surface: #fff8f3;
    --md-sys-color-surface-dim: #e4d8cb;
    --md-sys-color-surface-bright: #fff8f3;
    --md-sys-color-surface-container-lowest: #ffffff;
    --md-sys-color-surface-container-low: #fef2e4;
    --md-sys-color-surface-container: #f8ecde;
    --md-sys-color-surface-container-high: #f3e6d8;
    --md-sys-color-surface-container-highest: #ede1d3;
    --md-sys-color-on-surface: #201b12;
    --md-sys-color-surface-variant: #f2e0c9;
    --md-sys-color-on-surface-variant: #504534;
    --md-sys-color-inverse-surface: #362f26;
    --md-sys-color-inverse-on-surface: #fbefe1;
    --md-sys-color-outline: #837562;
    --md-sys-color-outline-variant: #d5c4ae;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #7f5700;
    --md-sys-color-primary: #7f5700;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-primary-container: #f7b337;
    --md-sys-color-on-primary-container: #442d00;
    --md-sys-color-inverse-primary: #ffba3e;
    --md-sys-color-secondary: #765a2b;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #ffdca9;
    --md-sys-color-on-secondary-container: #5c4316;
    --md-sys-color-tertiary: #566500;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-tertiary-container: #b6ca54;
    --md-sys-color-on-tertiary-container: #2d3600;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-on-error-container: #410002;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
    margin: 0;
    padding: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    width: fit-content;
    padding: 20px;
    border-radius: 8px;
}

.card {
    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card-header,
.card-footer {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

.card-img-top {
    width: 100%;
    height: 13vw;
}

.card-header, .card-footer {
    background-color: var(--md-sys-color-inverse-on-surface) !important;
    color: var(--md-sys-color-on-surface) !important;
    border-color: var(--md-sys-color-primary-container);
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.card {
    border: 1px solid;
    border-color: var(--md-sys-color-primary-container);
}

table {
    width: 100%;
    border-collapse: separate; /* Change collapse to separate */
    border-spacing: 0; /* Remove spacing between cells */
    margin-top: 20px;
    background-color: var(--md-sys-color-surface);
    border-radius: 10px; /* Ensure border radius works */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    overflow: hidden; /* Ensures the rounded effect shows */
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid var(--md-sys-color-outline);
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
}

th {
    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
}

/* td {
    height: 60px;
} */

td:empty {
    background-color: var(--md-sys-color-surface-container-lowest);
}

tbody tr:nth-child(even) {
    background-color: var(--md-sys-color-surface-container-low);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

/* Target specific corners for a rounded effect */
table th:first-child {
    border-top-left-radius: 10px;
}

table th:last-child {
    border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
/* Oldalsó navigációs sáv */
.sidebar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100px; /* A navigációs sáv szélessége */
    background-color: var(--md-sys-color-surface); /* Háttérszín */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding-top: 20px; /* Távolság a tetejétől */
}

/* Nav-item elemek egymás alatt */
.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Az ikon és a szöveg egymás alatt lesz */
    padding: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    text-align: center;
    color: var(--md-sys-color-on-surface); /* Szöveg színe */
}

/* Aktív menüpont */
.nav-item.active {
    background-color: var(--md-sys-color-primary-container); /* Aktív fül háttérszíne */
    color: var(--md-sys-color-on-primary-container); /* Aktív fül szövegszíne */
}

/* Hover hatás */
.nav-item:hover {
    background-color: var(--md-sys-color-secondary-container); /* Hover állapot háttérszíne */
}

/* Ikon méret növelés */
.nav-item md-icon {
    font-size: 24px; /* Ikon mérete */
    margin-bottom: 8px; /* Távolság az ikon és a szöveg között */
}

/* Úszó gomb (Floating Action Button) stílusa */
.mode-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center; /* Középre igazítás a sáv alján */
    margin-top: auto; /* Automatikusan a szabad helyre kerül */
    margin-bottom: 20px; /* Távolság az aljától */
}

/* Responsive - mobil eszközökhöz */
@media (max-width: 768px) {
    .sidebar {
        width: 80px;
    }

    .nav-item {
        font-size: 12px; /* Kisebb szövegméret mobilon */
    }

    .nav-item md-icon {
        font-size: 20px; /* Kisebb ikonméret mobilon */
    }

    .mode-switch {
        width: 40px; /* Kisebb gomb méret mobilon */
        height: 40px;
    }
}

a {
    text-decoration: none;
    color: var(--md-sys-color-on-surface);
    font-weight: bolder;
    
}

.scrim {
    background-color: #00000000 !important;
    border: #00000000;
    
}